body {
  margin: 0;
}

#app {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas: "nav main";
  grid-template-columns: 300px 1fr;
}

#app_nav {
  grid-area: nav;
  box-shadow: 1px 0 3px 0 #888;
  background-image: linear-gradient(to bottom right, #fff, #ced4da);
}

#app_main {
  grid-area: main;
  padding: 30px;
}
